@import "tailwindcss";
/*@import "tailwindcss" source(none);*/
/*@source "./public!*.{html,js}";*/
/*@plugin "daisyui";*/

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  src: url("../public/fonts/Irancell-Regular.ttf") format("ttf");
  font-family: Irancell;
  font-display: swap;
}

@font-face {
  src: url("../public/fonts/Takrim.woff") format("woff");
  font-family: Takrim;
  font-display: swap;
}

:root {
  /* --text-primary-gray: #8d8d8d;
    --text-secondary-gray: #D6D6D6;
    --text-social-icons: #737373;
    --text-dark-blue: #364073;
    --text-normal-blue: #17759d;
    --text-light-blue: #c9e4ef; */
  /* --font-inter: var(--font-inter); */
}

@theme {
  --breakpoint-xs: 394px;
  --font-irancell: "Irancell";
  --font-takrim: "Takrim";
  --font-inter: var(--font-inter);
  --color-primary-gray: #8d8d8d;
  --color-secondary-gray: #d6d6d6;
  --color-light-gray: #dddddd;
  --color-social-icons: #737373;
  --color-normal-gray: #f3f3f3;
  --color-dark-blue: #364073;
  --color-normal-blue: #17759d;
  --color-light-blue: #c9e4ef;
  --color-dark-stroke: #1e2086;
  --inset-shadow-input: inset 0px 0px 2.3px 0px rgba(0, 0, 0, 0.1);
  --drop-shadow-book-cover: 8px 9px 6.9px 0px rgba(0, 0, 0, 0.1);
  --radius-xs: 3px;
  --radius-xlg: 10px;
  --radius-xxl: 15px;
  --radius-2xxl: 22px;
  --size-25: 100px;
  --size-37: 148px;
  --aside-width: 418px;
}

html {
  @apply box-border m-0 p-0;
}

body {
  @apply relative min-h-screen w-full text-base overflow-x-hidden;
  /*scrollbar-color: #737373 #cecece;*/
  /*scrollbar-width: thin;*/
}

body::before {
  content: "";
  @apply fixed w-full h-full top-0 bottom-0 left-0 right-0 bg-[url('/images/background.png')] bg-repeat bg-center bg-cover opacity-35 z-[-1];
}

body::-webkit-scrollbar,
/* .panel-list::-webkit-scrollbar {
    width: 10px;
} */

body::-webkit-scrollbar-track,
/* .panel-list::-webkit-scrollbar-track {
    background: #f1f1f1;
} */

body::-webkit-scrollbar-thumb,
/* .panel-list::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
} */

body::-webkit-scrollbar-thumb:hover,
/* .panel-list::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

.nextjs-toast,
.nextjs-toast * {
    display: none !important;
}

input,
button {
  @apply border-none outline-none;
}

input[type="text"] {
  @apply text-center;
}

a {
  @apply no-underline appearance-none;
}

ul {
  @apply list-none;
}

.book-cover-container {
  @apply max-md:w-25 md:w-37 max-md:h-34 md:h-51
}

@media (min-width: 394px) {
  .book-cover-container {
    width: 137px;
    height: 203px;
  }
}

.scrollbar {
  scrollbar-width: auto;
  /*scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial);*/
}

.scrollbar-thin {
  scrollbar-width: thin;
  /*scrollbar-color: var(--scrollbar-thumb, initial) var(--scrollbar-track, initial);*/
}

.panel-height {
  @apply min-h-[calc(100vh-64px)]
}

.page-content {
  @apply relative;
}

/* .page-content img {
  max-width: 100%;
  height: auto;
} */

.pgcontent {
  @apply w-full;
}

.dark .pgcontent img,
.dark .page-content img {
  filter: hue-rotate(345deg) sepia(100%) invert(91.4%);
  transform: scale(1.15);
}

.book-page {
  @apply flex flex-col items-center justify-between min-h-120 mt-auto px-4 pt-16 font-takrim leading-[2.25rem] lg:px-[8rem];
  font-family: "Takrim";
  --tw-shadow-color: #e5e7eb;
  /*--tw-shadow: var(--tw-shadow-colored);*/
  --tw-drop-shadow: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  /*filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);*/
}

.book_page p {
  @apply dark:text-[#f9faf8];
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.bg-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.animation-iteration-count-1 {
  animation-iteration-count: 1 !important;
}

.book_page p.rfdNormal0,
p.rfdCenter,
p.rfdCenterBold1,
p.rfdCenterBold2,
p.rfdEn,
p.rfdFootnote0,
p.rfdFootnoteCenterBold,
p.rfdLeftBold,
p.rfdLine,
p.rfdVar0 {
  text-indent: 0 !important;
}

.dark.Heading2,
.dark.Heading2Center,
.dark.Heading3Center,
.dark.Heading4,
.dark.Heading4Center,
.dark.Heading5,
.dark.Heading5Center,
.dark.dark,
.gray.Heading2,
.gray.Heading2Center,
.gray.Heading3,
.gray.Heading3Center,
.gray.Heading4,
.gray.Heading4Center,
.gray.Heading5,
.gray.Heading5Center,
.gray h2,
.gray h3,
.gray h4,
.gray h5 {
  @apply text-[#5a8dc0];
}

.dark.rfdFootnote,
.dark.rfdFootnote0,
.dark.rfdLine {
  @apply text-[#cecece];
}

.pgnum.skip {
  @apply mx-auto text-center dark:text-white;
}

.book_page p {
  @apply text-justify my-[0.3em] mx-0;
  direction: rtl;
}

.rfdFootnote,
.rfdFootnote0,
.rfdFootnote0Char,
.rfdFootnoteBold,
.rfdFootnoteCenter,
.rfdFootnoteCenterBold,
.rfdFootnoteLeft,
.rfdPoemFootnote,
.rfdPoemFootnoteCenter {
  font-size: 0.78em;
}

.rfdFootnote,
.rfdFootnote0,
.rfdFootnote0Char,
.rfdFootnoteBold,
.rfdFootnoteCenter,
.rfdFootnoteCenterBold,
.rfdFootnoteLeft,
.rfdPoemFootnote,
.rfdPoemFootnoteCenter {
  font-size: 0.78em;
}

.rfdFootnote,
.rfdFootnote0,
.rfdLine {
  @apply text-gray-500 dark:text-[#6b7e6d];
}

.rfdBold1,
.rfdBold1Char,
.rfdBold3,
.rfdCenterBold1,
.rfdCenterBold1Char,
.sepia .rfdBold1,
.sepia .rfdBold1Char,
.sepia .rfdBold3,
.sepia .rfdCenterBold1,
.sepia .rfdCenterBold1Char {
  @apply text-[#369] leading-[50px];
}

.Heading1Center,
.Heading1CenterChar,
.Heading2Center,
.Heading3Center,
.Heading4Center,
.Heading5Center,
.rfdCenter,
.rfdCenterBold1,
.rfdCenterBold1Char,
.rfdCenterBold2,
.rfdFootnoteCenter,
.rfdFootnoteCenterBold,
.rfdPoemCenter,
.rfdPoemFootnoteCenter,
.rfdVarCenter {
  text-align: center !important;
  text-indent: 0 !important;
}

.rfdBold1,
.rfdBold1Char,
.rfdBold3,
.rfdCenterBold1,
.rfdCenterBold1Char {
  @apply mt-[1.35em] mb-[0.6em] p-0 font-bold;
  font-size: 1.1em;
}

.book_page .Heading1Char,
.book_page .Heading2Char,
.book_page .rfdBold1,
.rfdBold2,
.rfdCenterBold1,
.rfdCenterBold1Char,
.rfdCenterBold2,
.rfdFootnoteBold,
.rfdFootnoteCenterBold,
.rfdLeftBold {
  font-weight: 700;
}


/* انیمیشن برای ظاهر شدن آیکون‌ها */
@keyframes slideUp {
  from {
    transform: translateY(20px); /* شروع انیمیشن از پایین */
    opacity: 0; /* شروع با شفافیت صفر */
  }
  to {
    transform: translateY(0); /* به محل اولیه برگشتن */
    opacity: 1; /* شفافیت کامل */
  }
}

/* اعمال انیمیشن روی آیکون‌ها */
.menu-item {
  display: none; /* مخفی کردن آیکون‌ها به طور پیش‌فرض */
  opacity: 0;
  transform: translateY(20px); /* شروع از پایین */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item.open {
  display: block;
  animation: slideUp 0.3s ease-out forwards; /* انیمیشن برای حرکت */
}

/* انیمیشن برای ظاهر شدن آیکون‌ها */
@keyframes slideUp {
  from {
    transform: translateY(20px); /* شروع انیمیشن از پایین */
    opacity: 0; /* شروع با شفافیت صفر */
  }
  to {
    transform: translateY(0); /* به محل اولیه برگشتن */
    opacity: 1; /* شفافیت کامل */
  }
}

/* اعمال انیمیشن روی آیکون‌ها */
.menu-item {
  display: none; /* مخفی کردن آیکون‌ها به طور پیش‌فرض */
  opacity: 0;
  transform: translateY(20px); /* شروع از پایین */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.menu-item.open {
  display: block;
  animation: slideUp 0.3s ease-out forwards; /* انیمیشن برای حرکت */
}

